[submodule ".registry"]
	path = .registry
	url = https://github.com/gk-crop/gk-crop.r-universe.dev
	branch = HEAD
[submodule "raddins"]
	path = raddins
	url = https://github.com/gk-crop/raddins
[submodule "rmdutil"]
	path = rmdutil
	url = https://github.com/gk-crop/rmdutil
[submodule "simplace"]
	path = simplace
	url = https://github.com/gk-crop/simplace_rpkg
[submodule "simplaceUtil"]
	path = simplaceUtil
	url = https://github.com/gk-crop/simplaceUtil
[submodule "sunscanimport"]
	path = sunscanimport
	url = https://github.com/gk-crop/sunscanimport
